ul.recipe-list{
    display: flex;
    gap:1rem;
    flex-flow: wrap;
}
li.recipe-card{
    list-style-type: none;
    border:1px solid grey;
    padding:1rem;
    width:20rem;
    border-radius: 21px;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding:0.5rem;
    text-decoration: none;
    border-radius: 20px;
    border:2px solid black;
    color:black;
    background-color: #ff7f5000;
    transition: 0.5s;
    font-size: 18px;
}
a:hover{
    transform:translateY(2px);
    background-color:coral;
}
.recipe-detail-card{
    margin-left:30rem;
    margin-right:30rem;
    border-radius: 20px;
    border:2px solid black;
    padding:1rem;
}
.recipe-detail-card h1{
    display:flex;   
    align-items: center;
    justify-content: center;
}
.recipe-details-info{
    background-color: rgb(235, 235, 235);
    display:flex;
    gap:2rem;
}
.recipe-detail-card h3{
    border-bottom: 1px solid rgb(235, 235, 235);
}
form{
    margin-left:30rem;
    margin-right:30rem;
    border-radius: 20px;
    border:2px solid black;
    padding:1rem;
}
.form-text{
    display: flex;
    flex-direction: column;
}
.form-time{
    display: flex;
    gap:2rem;
}
form input[type=submit]{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding:0.5rem;
    text-decoration: none;
    border-radius: 20px;
    border:2px solid black;
    color:black;
    background-color: #ff7f5000;
    transition: 0.5s;
    font-size: 18px;
}
form input[type=submit]:hover{
    transform:translateY(2px);
    background-color:coral;
}