/* main.css */

/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0.7rem;
    /* Adjust the top margin */
    margin-bottom: 0.7rem;
    /* Adjust the bottom margin */
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
    font-weight: 500;
}

h4 {
    font-size: 1.728rem;
    font-weight: 500;
}

h5 {
    font-size: 1.2rem;
}

a {
    text-decoration:underline;
    color: black;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
}

small {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: #868686;
    font-weight: 400;
}

/* navbar styling */
nav {
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    column-gap: 3rem;
    padding: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/* Itinerary card styling */
.itinerary-cards-container {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}

.itinerary-card {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.itinerary-card img {
    width: 100%;
    height: auto;
    display: block;
}

.itinerary-link {
    font-weight: 500;
    text-decoration: none;
    color: #18272F;
    position: relative;
}

.itinerary-link::before {
    content: '';
    background-color: #fdd142c7;
    /* Updated color */
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.itinerary-link:hover::before {
    bottom: 0;
    height: 100%;
}

.itinerary-card-details {
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #8f8f8f;
}

/* Login and Sign up form */
.auth-form {
    max-width: 350px;
    margin: 0;
    margin-bottom:30px;
}
.auth-form label {
    margin-bottom: 8px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 4px;
}

.auth-form input[type="submit"] {
    background-color: #000000;
    color: #e0e0e0;
    cursor: pointer;
    padding: 12px;
    font-size: 20px;
    display: block; 
    width: 100%;
    margin: 0; 
}