/* main.css */

/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    margin: 0;
}
html{
    background-color: #f7f7f76b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0.7rem;
    /* Adjust the top margin */
    margin-bottom: 0.7rem;
    /* Adjust the bottom margin */
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
    font-weight: 500;
}

h4 {
    font-size: 1.728rem;
    font-weight: 500;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

h6{
    font-size: 1.1rem;
    font-weight:500;
}
a {
    text-decoration:underline;
    color: black;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
}

small {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: #868686;
    font-weight: 400;
}

/* navbar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px); /* Apply backdrop blur for glassmorphism effect */
    background-color: #f7f7f76b; /* Set a semi-transparent background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    transition: background-color 0.3s, backdrop-filter 0.3s; /* Add transition for smooth effect */
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffdc67; 
    border:solid 1px black;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0; 
}

/* settings checkbox */
.settings-container{
    margin-top:10vh;
    padding-left: 10%;
    padding-right: 10%;
}
.checkbox-container{
    display:flex;
    flex-direction: row-reverse;
}
.checkbox-label {
    display: inline-block;
    margin-left: 10px;
}
.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.checkbox-input:checked {
    background-color: #333;
    border-color: #333;
}
.checkbox-label.hide-label {
    display: none;
}
/* search and filter params */
.search-container{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top:10vh;
    margin-bottom:80px;
}
/* radio */
.status-filter input[type="radio"] {
    display: none;
}
.status-filter label {
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:#868686;
    cursor: pointer;
}
.status-filter input[type="radio"]:checked + label{
    color:black;
}
.status-filter input[type="submit"]{
    background-color: #fdd142;
    border:none;
    color: #141414;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    margin: 0; 
}
.status-filter label:hover {
    color: black; 
}

/* Itinerary card styling */
.itinerary-cards-container {
    padding-left: 5rem;
    padding-right: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    margin-bottom:80px;
}

.itinerary-card {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.itinerary-card img {
    width: 100%;
    height: auto;
    display: block;
}

.itinerary-link {
    font-weight: 500;
    text-decoration: none;
    color: #18272F;
    position: relative;
}

.itinerary-link::before {
    content: '';
    background-color: #fdd142c7;
    /* Updated color */
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.itinerary-link:hover::before {
    bottom: 0;
    height: 100%;
}

.itinerary-card-details {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Login and Sign up form */
/* To be changed */

.auth-form {
    max-width: 350px;
    margin: 0;
    margin-bottom:30px;
}
.auth-form label {
    margin-bottom: 8px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.auth-content{
    margin-top:10vh;
    padding-left: 10%;
    padding-right: 10%;
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 4px;
}

.auth-form input[type="submit"] {
    background-color: #fdd142;
    border:none;
    color: #141414;
    cursor: pointer;
    padding: 12px;
    font-size: 20px;
    display: block; 
    width: 100%;
    margin: 0; 
}

/* Itinerary Creation form */
/* Entry edit form*/
.itinerary-creation-form{
 width:700px;
}
.itinerary-creation-form label,
.edit-entry-form label,
.itinerary-entry-form label{
    margin-bottom: 8px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


.itinerary-creation-form input[type="text"], 
.itinerary-creation-form input[type="date"],
.itinerary-creation-form input[type="number"],
.itinerary-creation-form select,
.itinerary-entry-form input[type="text"],
.edit-entry-form input[type="text"]{
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 4px;
}
.itinerary-creation-form textarea, 
.edit-entry-form textarea,
.itinerary-entry-form textarea{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
.comment-form textarea{
    font-family: 'Inter', sans-serif;
    width: 80%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
.itinerary-creation-form .form-group{
    display:flex;
    column-gap: 20px;
}
.itinerary-creation-form .col {
    width:50%;
}
.itinerary-creation-form  input[type="submit"] {
    background-color: #fdd142;
    color: #141414;
    padding: 12px;
    font-size: 20px;
    display: block; 
    border:none;
    width: 100%;
    margin: 0; 
}
/* view itinerary */
.itinerary-entry{
    margin-bottom: 20px;
}
.itinerary-header-container{
    margin-top:10vh;
    padding-left: 10%;
    padding-right: 10%;
}
.itinerary-header{
    display:flex;
    flex-direction: row;
    column-gap: 20px;
}
.itinerary-entries-container{
    padding-left: 10%;
    padding-right: 10%;
}
.itinerary-header img{
    width: 50%;
    height:500px;
    object-fit: cover;
}
.itinerary-header-content{
    width:50%;
}
.comment-section{
    border-top:1px solid black;
    display:flex;
    column-gap: 20px;
    margin-top:80px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom:20vh;
}
.itinerary-comments-container{
    padding-top:40px;
}
.comment{
    margin-bottom:20px;
}
/* entries */
.entry-header{
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 0px;
    border-top:1px solid black;
    margin-bottom:20px;
    margin-top:80px;
}
.itinerary-header p{
    width:80%;
}
.itinerary-entry img{
    width: 50%; 
    min-height:auto;
    object-fit: cover;
}
.entry-content{
    display:flex;
    column-gap: 20px;
}
.entry-item p{
    width:90%;
}
.entry-item{
    width:50%;
}

#move_to_day {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#move_to_day::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
#move_to_day option {
    padding: 8px;
}

/* edit entry */
.edit-entry-btn{
    background-color: #fdd142;
    color: #141414;
    padding: 10px;
    font-size: 18px;
    display: block; 
    border:none;
    width: 10rem;
    margin: 0; 
}
.edit-entry-form{
    width:50%;
}
/* make entry button different */
.update-entry-btn
{
    background-color: #fdd142;
    color: #141414;
    padding: 10px;
    font-size: 18px;
    display: block; 
    border:none;
    width: 10rem;
    margin: 0; 
}
.delete-entry-btn
{
    color: #fd4242;
    padding: 10px;
    font-size: 14px;
    display: inline-block; 
    border:none;
    margin-top: 5vh; 
}
.create-entry-btn{
    padding-left:auto;
    padding-right:auto;
    background:none;
    border:1px solid black;
    color:  black;
    padding: 12px;
    font-size: 20px;
    display: block; 
    margin-top: 20px; 
}
.itinerary-new-entry-container{
    border-top:1px solid black;
    margin-top:40px;
    margin-left: 10%;
    margin-right: 10%;
}
.itinerary-entry-form{
    width:50%;
}

.yellow-rectangle {
    width: 20%; /* Set to match the width of the entry item */
    height: 5px; /* Adjust the height as needed */
    background-color: #fdd142;
    margin-top: 5px; /* Adjust the margin-top as needed for spacing */
}